table_add dol2arp l2setmetadata 00:01:00:00:00:00 => 1
table_add dol2arp l2setmetadata 00:01:00:00:00:01 => 2
table_add dol2arp l2setmetadata ff:ff:ff:ff:ff:ff => 2
table_add dol2int l2setmetadata 2222 => 2
table_add dol2int l2setmetadata 2223 => 3
table_add udp_int do_int 2222 => 1
table_add udp_int do_int 2223 => 1
table_add dosocket l2setmetadata 3333 => 2
table_add dosocket l2setmetadata 3334 => 2
table_add dosocket l2setmetadata 3335 => 3
table_add dosocket l2setmetadata 3336 => 3