table_add dol2arp l2setmetadata 00:01:00:00:00:00 => 1
table_add dol2arp l2setmetadata 00:01:00:00:00:01 => 3
table_add dol2arp l2setmetadata ff:ff:ff:ff:ff:ff => 3
table_add udp_int do_int 2222 => 4
table_add udp_int do_int 2223 => 4
table_add dosocket l2setmetadata 3333 => 3
table_add dosocket l2setmetadata 3334 => 3
table_add dosocket l2setmetadata 3335 => 3
table_add dosocket l2setmetadata 3336 => 3